
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.transition-all[data-v-e2ae6f44]{position:relative}.transition-all[data-v-e2ae6f44]:after{position:absolute;top:50%;left:50%;width:200%;height:200%;content:"";background-color:rgba(255,255,255,.25);border-radius:50%;transform:translate(-50%,-50%)}.fx-b[data-v-c026210c]{display:flex;align-items:center;justify-content:space-between}[data-v-c026210c] .fx-b .el-col{flex:1}[data-v-c026210c] .el-row{margin-bottom:20px}[data-v-c026210c] .el-table__body tr:nth-of-type(1) td:nth-of-type(1){color:red!important}[data-v-c026210c] .el-table__body tr:nth-of-type(2) td:nth-of-type(1){color:#bfbdbc!important}[data-v-c026210c] .el-table__body tr:nth-of-type(3) td:nth-of-type(1){color:#a25316!important}
