
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://fantastic-admin.gitee.io
 * Github https://fantastic-admin.github.io
 */

.fx-b[data-v-48d786cb]{display:flex;align-items:center;justify-content:space-between}.fx-b[data-v-48d786cb] .el-date-editor{border-radius:0!important}.fx-b[data-v-48d786cb] .el-button:nth-of-type(1){border-radius:4px 0 0 4px!important;border-right:0px}.fx-b[data-v-48d786cb] .el-button:nth-of-type(2){border-radius:0 4px 4px 0!important}.fx-b[data-v-48d786cb] .el-icon.el-input__icon.el-range__icon{display:none!important}.fx-b[data-v-8a8778ef]{display:flex;align-items:center;justify-content:space-between}
